
body{
    font-family: 'Dancing Script', cursive;
}
img{
    height: 180px;
}
.cycle{
    height: 200px;
}
.r15{
    height: 200px;
}
.remotely{
    height: 200;
}
.office{
    height: 320px;
}
.roadtrip{
    height: 200px;
}